<div class="span4">
<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div class="span7">
  <h2>Welcome to Corpora</h2>
  <p>Corpora is a new platform that brings together humanities and science professionals, developers, metadata
    specialists, and librarians to develop new ways to search, cross-reference, visualize and interpret multimedia
    collections.</p>
  <p>Corpora enhances organization and discovery within multimedia repositories. The Corpora platform segments, indexes
    and cross-references audio-visual-transcript materials, allowing users to uncover new knowledge through granular and
    comparative searches, and through geo-spatial analysis. Corpora is a collaborative effort to share resources and
    best practices in the areas of application development, metadata, data sharing, data licensing, and data sources in
    support of multimedia repositories. Please contact <a href="mailto:corpora@elist.tufts.edu">corpora@elist.tufts.edu</a> for more
    information.</p>
</div>